<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
</head>
<body>
{{if ge .Value 80}}
<h1>Amazing</h1>
{{else if ge .Value 60}}
<h1>Nice Try</h1>
{{else}}
<h1>Try Again</h1>
{{end}}
</body>
</html>