<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Succes</title>
</head>
<body>

<h1>Succes Upload</h1>
<br>

<h1> Name {{.Name}} </h1>
<br>

<a href="{{.File}}">File </a>

</body>
</html>